.ambis-primary {
    background-color: #2D1B6B;
}

.ambis-btn-primary {
    background-color: #2D1B6B;
    border-radius: 30px;    
    color: white;
}

.ambis-btn-primary:hover {
    background-color: #2D1B6B;
    border-radius: 30px;    
    color: white;
    text-decoration: underline;
}

.ambis-outline-primary {
    border: 1px solid #2D1B6B;
    border-radius: 20px;    
}

.ambis-edges{
    border-radius: 5px;
}

.ambis-font{
    color: #2D1B6B;
}
.ambis-secondary {
    background-color: #584398;
}

.ambis-link-primary {
    color: #2E286B;    
}

.ambis-link-active {
    color: #8D74D2;
}